@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #fddb00;
  --primary-color-dark: #006dc5;
  --text-blue: #006dc5;
  --text-yellow: #fddb00;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --extra-light: #f1f5f9;
  --white: #ffffff;
  --maxwidth: 1200px
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.advisory {
  position: relative;
  background: var(--primary-color);
  color: white;
  width: 100%;
  height: 5%;
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.259);
  padding: 4px 12%;
  z-index: 2;
}

.advisory ul {
  list-style-type: none; /* Remove default list styles */
  padding: 0;
  margin: 0;
  display:flex; /* Use flexbox for layout */
 
}

select#language {
  background: transparent; /* Remove background */
  border: none; /* Remove border */
  color: white; /* Set text color to white */
  padding: 0; /* Remove any padding */
  font-size: inherit; /* Match font size to surrounding text */
  font-family: inherit; /* Match font family to surrounding text */
}

select#language option {
  color: black; /* Ensure dropdown options are readable */
}

select#language:focus {
  outline: none; /* Remove outline on focus */
}

.advisory-item {
  padding-left:2%;
  padding-right:2%;
  display: inline-block; /* Make list items display inline */
  margin-right: 10px; /* Adjust spacing between items as needed */
}

.dropdown-menu {
  z-index: 1050;
}

.navbar {
  box-shadow: 1px 1px 5px #49494920;
  padding: 0 200px;
  transition: background-color 0.3s, margin-top 0.3s;
  margin-top: 30px;
  z-index: 10;
}

.navbar-nav .navbar-link {
  color: #334c99 !important;
}

.navbar-nav > li{
  color: #334c99 !important;
  font-weight:700;
  padding-left:1lh;
  padding-right:1lh;
}

.bg-solid {
  background-color: rgb(255, 255, 255) !important; /* Change this to your desired solid color */
}

.navbar-brand {
    scale: 0.8;
}

.sectionContainer {
  max-width: var(--maxwidth);
  margin: auto;
  padding: 5rem 1rem;
}

.sectionHeader {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--text-dark);
}

.headerContainer .sectionHeader {
  font: poppins;
  text-align: center;
  font-size: 3rem;
  line-height: 4rem;
  background-image: linear-gradient(#4e7ead,#4e7ead);
  color: transparent;
  background-clip: text;
}

j {
  color: var(--text-yellow);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: flex;
}





.planContainer .subheader {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
  color: var(--text-dark);
  letter-spacing: 5px;
}

.planContainer .sectionHeader {
  text-align: center;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}

.planContainer .description {
  text-align: center;
  color: var(--text-light);
}


.toBook {
  display: flex;
  padding: 8px 12px;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #ffee00;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.toBook:hover {
  background-color: #e4d500;
}

.toBook i {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: auto;
}



/*Booking Form START*/
.bookingContainer {
  border-radius: 2rem;
  border: 1px solid var(--extra-light);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.bookingNav {
  max-width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: var(--extra-light);
  border-radius: 5px;
}

.bookingNav span {
  flex: 1;
  padding: 1rem 2rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.bookingNav span:nth-child(2) {
  color: var(--white);
  background-color: var(--primary-color-dark);
}

.bookingContainer form {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto;
  gap: 1rem;
}

.bookingContainer .inputContent {
  width: 100%;
}

.bookingContainer .formGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bookingContainer .formGroup span {
  padding: 10px;
  font-size: 1.5rem;
  color: var(--text-dark);
  background-color: var(--extra-light);
  border-radius: 1rem;
}

.bookingContainer .inputGroup {
  width: 100%;
  position: relative;
}

.bookingContainer label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
  pointer-events: none;
  transition: 0.3s;
}

.bookingContainer input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  color: var(--text-dark);
}

/* Changes made here */
.bookingContainer input:focus ~ label,
.bookingContainer input:not(:placeholder-shown) ~ label {
  font-size: 0.8rem;
  top: 0;
}

.bookingContainer .formGroup p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--text-light);
}

.bookingContainer .btn {
  padding: 1rem;
  font-size: 1.5rem;
}

.btn .ri-search-line {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color-dark);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}
  
.btn .ri-search-line:hover {
  background-color: var(--primary-color);
}






/*Footer START*/
.footer {
  background-color: var(--primary-color);
  width: 100%;
}

.footerContainer{
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  gap: 5rem;
}

.footerCol h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-blue);
  margin-bottom: 1rem;
}

.footerCol h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 1rem;
}

.footerCol p {
  color: var(--text-blue);
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.footerCol p:hover {
  color: var(--text-blue);
}

.footerbar {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-top: 1px solid var(--text-blue);
}

.footerbar p {
  font-size: 0.9rem;
  color: var(--text-blue);
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socials span {
  font-size: 1.2rem;
  color: var(--text-blue);
}








@media (width < 1200px) {
    .sectionContainer.headerContainer,
    .sectionContainer.planContainer,
    .sectionContainer.loungeContainer {
      overflow: hidden;
    }
  
    .memoriesGrid {
      gap: 3rem;
    }
  }
  
  @media (width < 900px) {
    nav .btn {
      display: none;
    }
  
    .headerContainer img {
      min-width: 900px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  
    .bookingContainer form {
      grid-template-columns: repeat(2, 1fr);
    }

    .advisory {
      position: relative;
      background: #edab1c;
      color: white;
      width: 100%;
      height: 4%;
      box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.259);
      padding: 5px 0%;
      z-index: 2;
    }

    .advisory-item {
      font-size: 11px;
      padding-left:2%;
      padding-right:2%;
    }

    .navbar {
      margin-top: 28px;
    }

    .fronthead{
      width: 50px;
    }

    .footerContainer {
      gap: 2rem;
    }
  }


  @media (width < 600px) {
    .navLinks {
      display: none;
    }
  
    .bookingNav span {
      padding: 1rem 0.5rem;
    }
  
    .bookingContainer form {
      grid-template-columns: repeat(1, 1fr);
    }

    .footerContainer {
      grid-template-columns: 1fr;
    }
  
    .footerBar {
      flex-direction: column;
      text-align: center;
    }

    header img {
      position: relative;
      left: -35vh;
    }

    .headerContainer .sectionHeader {
      font: poppins;
      text-align: center;
      font-size: 3rem;
      line-height: 4rem;
      background-image: linear-gradient(#4e7ead,#4e7ead);
      color: transparent;
      background-clip: text;
    }
  }

